
/Combis/Combis/obj
/Combis/.vs
/Combis/Combis/bin
/Combis/BuisnessLayer/obj
/Combis/BuisnessLayer/bin
/Combis/CommonLayer/obj
/Combis/DAL/bin
/Combis/DAL/obj
/Combis/ServiceLayer/bin
/Combis/ServiceLayer/obj
/Combis/obj
/Combis/CommonLayer/bin
/Combis/CommonLayer/bin
/Combis/CommonLayer/bin
/Combis/CommonLayer/bin
/Combis/Combis/CombisApp/bin
/Combis/CommonLayer/bin
/Combis/BuisnessLayerTests/bin
/Combis/BuisnessLayerTests/obj
/Combis/CommonLayer/bin/Debug
/Combis/CommonLayer/bin/Debug
/Combis/CommonLayer/bin
